:root {
  --soft-violet: hsl(273, 75%, 66%);
  --soft-blue: hsl(240, 73%, 65%);

  --very-dark-grayish-blue: hsl(237, 12%, 33%);
  --dark-grayish-blue: hsl(240, 6%, 50%);

  --light-grayish-blue: hsl(240, 5%, 91%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kumbh Sans', sans-serif;
}

body {
  height: 100vh;
  background-image: linear-gradient(var(--soft-violet), var(--soft-blue));
  margin: 10em 2em;
}

.component {
  background-color: white;
  border-radius: 20px;
  padding: 0 2em 2em 2em;
}

.component .faq {
  text-align: center;
  padding-top: 150px;
}

.component .faq header {
  font-size: 1.5em;
  color: var(very-dark-grayish-blue);
  margin-bottom: 1em;
}

.component .faq .accordion .accordion-item {
  padding: 1em 0;
  border-bottom: 1px solid var(--light-grayish-blue);
}

.component .faq .accordion .accordion-item .question {
  font-size: 1em;
  font-weight: normal;
  text-align: left;
  align-content: right;
  position: relative;
  user-select: none;
}

.component .faq .accordion .accordion-item.open .question {
  font-weight: bold;
}

.component .faq .accordion .accordion-item .question:hover {
  cursor: pointer;
}

.component .faq .accordion .accordion-item .question::after {
  content: url('./images/icon-arrow-down.svg');
  position: absolute;
  right: 0;
}

.component .faq .accordion .accordion-item.open .question::after {
  transform: rotate(180deg);
}

.component .faq .accordion .accordion-item .answer {
  margin-top: 1em;
  text-align: left;
  font-size: 0.875em;
  line-height: 1.5em;
  color: var(--dark-grayish-blue);
}

.component .faq .accordion .accordion-item:not(.open) .answer {
  display: none;
}

.component .images img {
  position: absolute;
  margin: 0 auto;
  right: 0;
  left: 0;
}

.component .images .woman {
  transform: translateY(calc(-50% - 10px));
}

.component .images .background {
  transform: translateX(13px);
}

@media screen and (min-width: 800px) {
  .component {
    display: flex;
    flex-direction: row-reverse;
  }

  .component .faq {
    padding: 5em 5em 5em 0;
    text-align: left;
  }
}
