:root {
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);
  --transparent-white: hsla(0, 0%, 100%, 0.75);
  --very-light-gray: hsl(0, 0%, 95%);
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Lexend Deca', sans-serif;
  font-size: 15px;
}

body {
  min-height: 100vh;
}

.cars {
  margin: 4em 2em;
  border-radius: 8px;
  overflow: hidden;
}

.cars section {
  padding: 2em;
  padding-bottom: 6em;
  position: relative;
}

.cars section img {
  display: block;
}

.cars section header h2 {
  color: var(--very-light-gray);
  font-family: 'Big Shoulders Display', cursive;
  font-size: 2em;
  text-transform: uppercase;
  margin: 1em 0;
}

.cars section p {
  color: var(--transparent-white);
  line-height: 1.625em;
}

.cars section button {
  margin-top: 2em;
  border: 2px solid transparent;
  padding: 0.625em 1em;
  border-radius: 2em;
  position: absolute;
  bottom: 2em;
  box-sizing: border-box;
}

.cars section button:hover {
  cursor: pointer;
  border: 2px solid var(--transparent-white);
  color: var(--transparent-white);
  background-color: transparent;
}

.sedan {
  background-color: var(--bright-orange);
}

.sedan button {
  color: var(--bright-orange);
}

.suvs {
  background-color: var(--dark-cyan);
}

.suvs button {
  color: var(--dark-cyan);
}

.luxury {
  background-color: var(--very-dark-cyan);
}

.luxury button {
  color: var(--very-dark-cyan);
}

@media screen and (min-width: 800px) {
  .cars {
    margin: 10em;
    display: flex;
  }
}
